@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Matt's Assignment #2";
    ViewBag.MyName = "Matt Mecham";
    ViewBag.Page = "Home Page";
}


<!DOCTYPE html>


<body>
    <h1>@ViewBag.Page</h1>
    <img src="~/img/IMG_20201022_085742871.jpg" />
    <p>I hope to learn how to better build websites and use technology to my advantage. I also hope to learn other useful skills to the programming world</p>
    <br />
    <h2>Top 3 Jobs (Kind of, I'm not really sure)</h2>
    <ul class="Quiz">
        <li>1. Cybersecurity</li>
        <li>2. Project Manager</li>
        <li>3. Data Analyst</li>
    </ul>

</body>



